body {
  background-color: #7ed3fc;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  /* border: 3px solid black;
  border-radius: 1rem;
  background-color: white;
  color: rgb(23, 28, 32); */
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  width: 60%;
  height: 1px;
  background-color: aliceblue;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.header {
  background-color: #7ed3fc;
  padding: 30px 40px;
  color: aliceblue;
  text-align: center;
}
#link-to-admin {
  margin-left: 70%;
}

.testing-mattias {
  /* border: 1px solid black; */
  /* text-align: center; */
  width: 50%;
  margin-left: 25%;
  margin-top: 3rem;

  background-color: white;
}
.testing-mattias > * {
  margin-left: 5%;
}
.read-more-link {
  font-size: 1.4rem;
}
/* Christoffers kod */

.specific-post {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 50%;
  margin-left: 25%;
  margin-top: 4rem;
  height: 40rem;
  background-color: #fff;
  line-height: 200%;
  padding: 1rem;
}
.specific-post h1 {
  text-align: center;
}
#specific-hr {
  width: 48%;
}
#specific-link1 {
  margin-left: 68%;
}
.link-container-specific {
  margin-left: 28%;
  margin-top: 3rem;
}
