/* Manage-post Christoffer */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #7ed3fc;
}
hr {
  width: 58%;
  height: 2px;
  background-color: white;
}
.container-manage-post {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.manage-post-link {
  align-self: center;
  margin-left: 45%;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 2rem;
  /* background-color: rgba(226, 247, 36, 0.973); */
  background-color: white;
  color: rgb(23, 28, 32);
}
.container-manage-post h1 {
  align-self: center;
}
#plus,
#arrow,
#X,
#update-symbol {
  font-size: 2rem;
  font-weight: 900;
  padding: 0.7rem 0.7rem;
}
.delete-post,
.update {
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 2rem;
  background-color: green;
  color: rgb(23, 28, 32);
}
.delete-post {
  background-color: red;
}
#table {
  border: 1px solid black;
}
th {
  background-color: black;
  color: white;
}

tr,
th,
td {
  border: 1px solid black;
  width: 20rem;
  height: 5rem;
  font-size: 1.4rem;
  text-decoration: none;
}
tbody {
  background-color: aliceblue;
}
.container-manage-post-table {
  place-self: center;
}
